<div class="login-container">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => "login_form_main"}) do |f| %>
	  <h3>Log in</h3>
	  
	  <div class="control-group">
	  	<%= f.label :email %>
	  	<%= f.text_field :email %>
	  </div>
	
	  <div class="control-group">
	  	<%= f.label :password %>
	  	<%= f.password_field :password %>
	  </div>
	
	  <div class="control-group">
		<%= f.label :remember_me %>
		<%= f.check_box :remember_me %>
	  </div>
	
	  <div class="control-group">
	  	<%= f.submit "Sign in", :class => "btn btn-primary" %>
	  	<% if flash[:alert] %>
		<span class="pull-right text-error"><%= flash[:alert] %></span>
		<% end %>
	  </div>
	  
	  <div class="control-group">
	  	<%= render :partial => "accounts/shared/links", :locals => {:resource_name => resource_name, :controller_name => "sessions"} %>
	  </div>
	  
	<% end %>
</div>
