<% css_class = "row-fluid conversation-item" %>
<% css_class = message.sender_id.to_s == current_account.id.to_s ? [css_class, "my"].join(" ") : [css_class, "other"].join(" ") %>
<div class="<%= css_class %>">
	<div class="row-fluid">
		<%= link_to "#", :class => "sender-avatar" do %>
		<%= image_tag message.sender_details["logo"] || message.sender_details["avatar"], :size => "34x34" %>
		<% end %>
		
		<%= link_to "#{message.sender_details['name']} (#{message.sender_details['username']})", "#", :class => "sender-name" %><br/>
		
		<p class=" text"><%= message.text %></p>
	</div>
	
	<div class="date-sent muted">
		<%= [distance_of_time_in_words(message.date_sent.to_time.to_i, Time.now.utc.to_time.to_i, true), "ranije"].join(" ") %>
	</div>
</div>
