<div class="span4 messages-container">
	<div class="row-fluid search-sort">
		<div class="pull-left input-append sort-messages">
			<%= link_to "#", :class => "btn btn-small disabled", :id => "sort_messages_date", :title => "Sort by date" do %>
			<i class="icon-arrow-down"></i> Date
			<% end %>
			
			<%= link_to "#", :class => "btn btn-small", :id => "sort_messages_unread", :title => "Show unread first" do %>
			<i class="icon-arrow-down"></i> Unread
			<% end %>
		</div>
		<div class="pull-right search">
			<%= text_field_tag "messages_term", "", :class => "input-medium search-query", :placeholder => "Search messages" %>
		</div>
	</div>
	
	<div class="row-fluid select-delete">
		<div class="pull-left">
			<label class="checkbox inline">
				<%= check_box_tag "select-all" %> Select all
			</label>
		</div>
		
		<div class="pull-right">
			<%= link_to "#", :class => "btn btn-small delete-messages" do %>
			<i class="icon-remove-sign"></i> Delete
			<% end %>
		</div>
	</div>
	
	<ul class="nav nav-tabs small">
		<li class="active"><%= link_to "Received", "#received", "data-toggle" => "tab", :id => "show-received-messages" %></li>
		<li><%= link_to "Sent", "#sent", "data-toggle" => "tab", :id  => "show-sent-messages" %></li>
	</ul>
	
	<div class="tab-content">	
		<div class=" tab-pane active row-fluid messages received" id="received">
			<%= render :partial => "messages/inbox", :locals => {:page_inbox => @inbox, :inbox => @received[:all], :from => 0, :to => @inbox_to} %>
		</div>
		
		<div class=" tab-pane row-fluid messages sent" id="sent">
			<%= render :partial => "messages/outbox", :locals => {:page_outbox => @outbox, :outbox => @sent[:all], :from => 0, :to => @outbox_to} %>			
		</div>
	</div>
</div>