<% css_class = "row-fluid message-item" %>
<% css_class = [css_class, "active"].join(" ") if active %>
<% css_class = [css_class, "unread"].join(" ") if message.date_read.nil? && received %>
<% other_part = message.sender_id.to_s == current_account.id.to_s ? message.receiver_details : message.sender_details %>

<div class="<%= css_class %>" id="<%= message.id.to_s %>">
	<%= link_to "#", :class => "span2 other_part_avatar" do %>
	<%= image_tag other_part["logo"] || other_part["avatar"], :size => "40x40" %>
	<% end %>
	
	<div class="span10">
		<div class="message-options">
			<input type="checkbox" name="select" class="select-message">
			<%= form_tag(url_for(:controller => "messages", :action => "pre_remove"), :remote => true, :class=>"remove-message") do %>
			<%= hidden_field_tag "message_id", message.id %>
			<%= hidden_field_tag "type", received ? "received" : "sent" %>
			<%= button_tag raw(""), :type => "submit", :class => "icon-remove remove-item" %>
			<% end %>
		</div>
		<div class="row-fluid other_part"><%= link_to "#{other_part['name']} (#{other_part['username']})", "#" %></div>
		<div class="row-fluid text"><%= link_to message.text, url_for(:controller => "messages", :action => "show", :id => message.id, :type => received ? "received" : "sent"), :class => "read-message", :remote => true %></div>
	</div>
</div>
