<% url = to.nil? ? message_path : url_for(:controller => "messages", :action => "reply") %>

<%= form_tag(url, :remote => true, :class => "send-message", :method => "post") do |f| %>
<%= hidden_field_tag "receiver_id", to %>
<%= hidden_field_tag "reply_to", reply_to %>

<% if to.nil? %>
<%= text_field_tag "receiver", "", 
	:placeholder => "To", 
	:class => "message-to", 
	:id => "receiver", 
	:autocomplete => "off",
	"data-provide" => "typeahead"
%>

<script type="text/javascript">
	$("#receiver").typeahead({
		source: <%= raw receivers_usernames.to_json %>,
		updater: function(item){
			$.ajax({
	    		type: "POST",
	    		url: "<%= receiver_id_remote_message_path %>", 
	    		data: {username: item},
	    		success: function(data, textStatus, xhr){},
	    		error: function(xhr, textStatus, errorThrown){}
	    	});
			
			return item;
		}
	});
</script>
<% end %>

<div>
	<%= text_area_tag "text", "", :rows => 4, :class=> "span4", :placeholder => "Enter your message" %>
</div>
<div class="pull-right">
	<%= submit_tag "Send", :class => "btn btn-success btn-small" %>
</div>
<% end %>
