<div class='modal hide fade remove-confirm'>
	<div class='modal-body'>
		<h5><%= I18n.t("messages.remove_confirm") %></h5>
		<%= form_tag url_for(:action => "remove"), :remote => true do %>
			<%= hidden_field_tag "message_id", params[:message_id] %>
			<%= hidden_field_tag "type", params[:type] %>
			<%= submit_tag I18n.t("confirm"), :class => "btn btn-danger" %>
			<%= button_tag I18n.t("cancel"), :type => "reset", :class => "btn", "data-dismiss" => "modal" %>
		<% end %>
	</div>
</div>