<div class="row-fluid phones-header">
	<%= text_field_tag("phones_search_term", "", :placeholder => I18n.t("admin.search"), :class => "pull-right search-query") %>
</div>
<table class="table table-striped table-hover phones-list-admin">
	<tr>
		<th>Name</th><th>Created at</th><th>Created by</th><th>Action</th>
	</tr>
	<% @phones.each do |phone| %>
	<% created_by = phone.account_id ? Account.find(phone.account_id).email : "" %>
	<tr id="<%= phone.id.to_s %>">
		<td><%= phone.name %></td>
		<td><%= phone.created_at.strftime('%m/%d/%Y %H:%M') %></td>
		<td><%= created_by %></td>
		<td>
			<%= link_to "", url_for(:action => "edit", :id  => phone.id.to_s), :class => "icon-edit" %>
		</td>
	</tr>
	<% end %>
</table>
