<table class="table table-striped table-hover">
	<tr>
		<th>Email</th><th>Name</th><th>Phone</th><th>Created at</th><th>Last login</th><th>Action</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.account.email %></td>
		<td><%= user.name %></td>
		<td><%= user.phone || " / " %></td>
		<td><%= user.created_at.to_s %></td>
		<td><%= user.account.last_sign_in_at.to_s %></td>
		<td>
			<%= form_tag(admin_users_lock_path, :class => "lock_user") do %>
			<%= hidden_field_tag(:id, user.id) %>
			<%= submit_tag("Lock", :class => "btn btn-link") %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
