<div class="row-fluid options-box">
	
	<div class="row-fluid">
		<div class="span9 btn-group sort-phones-by">
			<%= link_to "#", :class => "btn btn-medium disabled", :title => I18n.t("search.sort_by_date"), :id => "date" do %>
			<i class='icon-arrow-up'></i><%= I18n.t("search.sort_by_date") %>
			<% end %>
			<%= link_to "#", :class => "btn btn-medium", :title => I18n.t("search.sort_by_relevance"), :id => "relavance" do %>
			<i class='icon-arrow-down'></i><%= I18n.t("search.sort_by_relevance") %>
			<% end %>
			<%= link_to "#", :class => "btn btn-medium", :title => I18n.t("search.sort_by_price"), :id => "price" do %>
			<i class='icon-arrow-up'></i><%= I18n.t("search.sort_by_price") %>
			<% end %>
		</div>
		
		<div class="span2">
			<%= text_field_tag "search_term", "", :class => "input-medium", :placeholder => I18n.t("search.search_phones") %>
		</div>
		
		<%= hidden_field_tag(:brand_param, @brand) %>
	</div>
	
	<a href="#" class="pull-left show-price-range"><%= I18n.t("search.filter_by_price_range") %></a>
	<a href="#" class="pull-right show-all-phones"><i class="icon-repeat"></i><%= I18n.t("search.show_all") %></a>

	<div class="row-fluid">
		<div class="span9 price-range-wrapper alert">
			<a href="#" class="close" title="Hide price range">&times;</a>
			<div class="span11">
				<div id="price-slider"></div>
				<div class = "pull-left">
					<span class="price-from-text">0</span>
					<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
					<span class="price-to-text">0</span>
					<span>&nbsp;$</span>
				</div>
				<div class="pull-right">
					<%= link_to "Potvrdi", "#", :class => "btn btn-mini", :id => "apply_prices", :title => I18n.t("search.apply_price_range") %>
				</div>
			</div>
			<%= hidden_field_tag("price_from", "") %>
			<%= hidden_field_tag("price_to", "") %>
		</div>
	</div>
	
</div>
