<div class="row-fluid options-box">
	
	<div class="row-fluid">
		<div class="span9 btn-group sort-phones-by">
			<%= link_to "#", :class => "btn btn-medium disabled", :title => I18n.t("search.sort_by_date"), :id => "date" do %>
			<i class='icon-arrow-up'></i><%= I18n.t("search.sort_by_date") %>
			<% end %>
			<%= link_to "#", :class => "btn btn-medium", :title => I18n.t("search.sort_by_relevance"), :id => "relevance" do %>
			<i class='icon-arrow-down'></i><%= I18n.t("search.sort_by_relevance") %>
			<% end %>
			<%= link_to "#", :class => "btn btn-medium", :title => I18n.t("search.sort_by_price"), :id => "price" do %>
			<i class='icon-arrow-up'></i><%= I18n.t("search.sort_by_price") %>
			<% end %>
		</div>
		
		<div class="span2">
			<%= text_field_tag "search_term", "", :class => "input-medium", :placeholder => I18n.t("search.search_phones") %>
		</div>
		
		<%= hidden_field_tag(:brand_param, @brand) %>
	</div>
	
	<a href="#" class="pull-left show-price-range"><%= I18n.t("search.filter_by_price_range") %></a>
	
	<%= link_to I18n.t("search.advanced_search"), "#", :class => "show-advanced-search", "data-toggle" => "dropdown" %>
	
	<a href="#" class="pull-right show-all-phones"><i class="icon-repeat"></i><%= I18n.t("search.show_all") %></a>
	
	<div class="advanced-search hide" id="advanced_search">
		<div class="well criteria-group">
			<div class="criteria">
				<%= label_tag "operating_system", I18n.t("mongoid.attributes.phone.os") %>
				<%= select_tag "operating_system", options_from_collection_for_select(@search_options[:os], "first", "last") %>
			</div>
			<div class="criteria">
				<%= label_tag "weight", I18n.t("mongoid.attributes.phone.weight") %>
				<%= select_tag "weight", options_from_collection_for_select(@search_options[:weight], "first", "last") %>
			</div>
			<div class="criteria">
				<%= label_tag "brand", I18n.t("mongoid.attributes.phone.brand") %>
				<%= select_tag "brand", options_from_collection_for_select(@search_options[:brand], "first", "last") %>
			</div>
		</div>
		<div class="criteria-group well">
			<div class="criteria">
				<%= label_tag "internal_memory", I18n.t("mongoid.attributes.phone.internal_memory") %>
				<%= select_tag "internal_memory", options_from_collection_for_select(@search_options[:internal_memory], "first", "last") %>
			</div>
			<div class="criteria">
				<%= label_tag "external_memory", I18n.t("mongoid.attributes.phone.external_memory") %>
				<%= select_tag "external_memory", options_from_collection_for_select(@search_options[:external_memory], "first", "last") %>
			</div>
		</div>
		<div class="criteria-group well">
			<div class="criteria">
				<%= label_tag "camera_mpx", I18n.t("mongoid.attributes.phone.camera.mpx") %>
				<%= select_tag "camera_mpx", options_from_collection_for_select(@search_options[:camera][:mpx], "first", "last") %>
			</div>
			<div class="criteria">
				<%= label_tag "camera_blic", I18n.t("mongoid.attributes.phone.camera.blic") %>
				<%= select_tag "camera_blic", options_from_collection_for_select(@search_options[:camera][:blic], "first", "last") %>
			</div>
			<div class="criteria">
				<%= label_tag "camera_video", I18n.t("mongoid.attributes.phone.camera.video") %>
				<%= select_tag "camera_video", options_from_collection_for_select(@search_options[:camera][:video], "first", "last") %>
			</div>
			<div class="criteria">
				<%= label_tag "camera_front", I18n.t("mongoid.attributes.phone.camera.front") %>
				<%= select_tag "camera_front", options_from_collection_for_select(@search_options[:camera][:front], "first", "last") %>
			</div>
		</div>
		<div class="row-fluid">
			<%= link_to "Odustani", "#", :class => "btn pull-left", :id => "cancel_advanced_search" %>
			<%= button_tag "Trazi", :class => "btn pull-right", :id => "apply_advanced_search" %>
		</div>
	</div>

	<div class="advanced-search hide" id="price_range_wrapper">
		<div class="span11">
			<div id="price-slider"></div>
			<div class="row-fluid">
				<div class = "pull-left">
					<span class="price-from-text">0</span>
					<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
					<span class="price-to-text">0</span>
					<span>&nbsp;$</span>
				</div>
				<div class="pull-right" id="price_range_actions">
					<%= link_to I18n.t("cancel"), "#", :class => "btn btn-mini", :id => "close_price_ranges", :title => I18n.t("cancel") %>
					<%= link_to I18n.t("confirm"), "#", :class => "btn btn-mini", :id => "apply_prices", :title => I18n.t("search.apply_price_range") %>
				</div>
			</div>
		</div>
		<%= hidden_field_tag("price_from", "") %>
		<%= hidden_field_tag("price_to", "") %>
	</div>
	
</div>
