<div>
	<%= f.label :name %>
  	<%= f.text_field :name %>
  	<span>*</span>
	<%= content_tag(:span, resource.errors.messages[:name].join(" "), :class => "text-error") if resource.errors.messages[:name] %>
</div>
  
<div>
  	<%= f.label :address %>
  	<%= f.text_field :address %>
</div>
  
<div>
  	<%= f.label :phone %>
  	<%= f.text_field :phone[0] %>
</div>
