<div class="control-group">
	<div class="control-label"><%= f.label :name %></div>
  	<div class="controls"><%= f.text_field :name %></div>
</div>
  
<div class="control-group">
  	<div class="control-label"><%= f.label :address %></div>
  	<div class="controls"><%= f.text_field :address %></div>
</div>
  
<div class="control-group">
  	<div class="control-label"><%= f.label :phone %></div>
  	<div class="controls"><%= f.text_field :phone %></div>
</div>
