<div>
	<%= f.label :name %>
  	<%= f.text_field :name %>
  	<span>*</span>
</div>
  
<div>
  	<%= f.label :address %>
  	<%= f.text_field :address %>
</div>
  
<div>
  	<%= f.label :phone %>
  	<%= f.text_field :phone %>
</div>
