<%= devise_error_messages! %>

<% resource.rolable = params[:account][:type].downcase.camelize.constantize.new %>

<!--
<div class="herro-unit span5 offset1">
	<h2>Enter into new business world</h2>
	<p class="lead">
		Cras justo odio, dapibus ac facilisis in,<br/> 
		egestas eget quam.<br/> 
		Fusce dapibus, tellus ac cursus commodo,<br/>
		tortor mauris condimentum nibh,<br/>
		ut fermentum massa justo sit amet risus.
	</p>
</div>-->
<div class="container" style="width: 800px; margin: 50px auto 0 auto;">
	<div class="span4">
		<% if params[:account][:type] == "user" %>
		<%= image_tag("register_user.png") %>
		<% else %>
		<%= image_tag("register_user.png") %>
		<% end %>
	</div>
	
	<div class="span4">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:class => "form-horizontal"}) do |f| %>
		
		  <div class="control-group">
		  	<div class="control-label"><%= f.label :email %></div>
			<div class="controls"><%= f.text_field :email %></div>
		  </div>
		
		  <div class="control-group">
		  	<div class="control-label"><%= f.label :password %></div>
		  	<div class="controls"><%= f.password_field :password %></div>
		  </div>
			
		  <div class="control-group">
		  	<div class="control-label"><%= f.label :password_confirmation %></div>
		  	<div class="controls"><%= f.password_field :password_confirmation %></div>
		  </div>
	
		  <%= fields_for resource.rolable do |rf| %>
		  <%= render :partial => "shared/" + ["new", params[:account][:type], "fields"].join("_"), :locals => {:f => rf} %>
		  <% end %>
		
		  <div class="control-group">
		  	<div class="controls"><%= f.submit I18n.t(:sign_up), :class => "btn btn-primary" %></div>
		  </div>
		
		  <div class="control-group">
		  	<div class="controls"><%= render :partial => "accounts/shared/links" %></div>
		  </div>
		  
		  <%= hidden_field :account, :type, :value => params[:account][:type] %>
		<% end %>
	</div>
</div>
