<div class="carousel slide" id="home_page_carousel">	
	<div class="carousel-inner">
		<div class="active item">
			<img src="/carousel1.jpg" />
			<div class="container">
				
				<div class="homepage-search">
					<%= form_tag(phones_path) do %>
					<div class="input-append">
					<%= text_field_tag "search_term", "", :placeholder => I18n.t("home.search_placeholder") %>
					<%= button_tag I18n.t("search.search"), :type => "submit", :class => "btn" %>
					</div>
					<% end %>
				</div>
				
				<div class="carousel-caption">
					<h1>Pronađite mobitel za vas</h1>
					<p class="lead">
						Ponuda od preko 2000 modela mobilnih telefona.<br/>
						Svaki dan 100 novih ponuda u katalozima.</br>
						Novi i polovni mobitela svih generacija.					
					</p>
				</div>
				
				<div class="homepage-actions">
					<%= link_to I18n.t("home.register_user"), register_user_path, :class => "btn btn-large btn-primary" %>
					<%= link_to I18n.t("home.register_store"), register_store_path, :class => "btn btn-large btn-success" %>
				</div>
			</div>
		</div>
		
		<div class="item">
			<img src="/carousel2.jpg" />
			<div class="container">
				<div class="carousel-caption">
					<h1>Prodajte polovan ili nov mobitel.</h1>
					<p class="lead">
						Napravite svoj profil ili profil radnje koju vodite.<br/>
						Svaki dan prodajite nove ili polovne mobitele u svoj katalog.</br>
						Jednostavno. Ucinkovito. Besplatno.					
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<a class="carousel-control left" href="#home_page_carousel" data-slide="prev">&lsaquo;</a>
  	<a class="carousel-control right" href="#home_page_carousel" data-slide="next">&rsaquo;</a>
</div>
