<% phone = PhoneDecorator.decorate(catalogue_phone["catalogue_item"].phone) %>
<% catalogue_item = CatalogueItemDecorator.decorate(catalogue_phone["catalogue_item"]) %>
<div class="phone-main catalogue-item-main text-center well" id="<%= catalogue_item.id %>">
	<% if my_item %>
		<%= form_tag url_for(:action => "pre_remove"), :remote => true do %>
			<%= hidden_field_tag "phone_id", phone.id %>
			<%= hidden_field_tag "catalogue_id", catalogue_item.id %>
			<%= button_tag raw(""), :type => "submit", :class => "icon-remove show-on-hover remove-item" %>
		<% end %>
	<% end %>
	<div class="phone-img-main-wrapper">
		<%= phone.render_image("64") %>
	</div>
	
	<%= content_tag(:div, phone.name, 
	:class => "align-center catalogue-phone-title",
	"data-toggle" => "popover",
	"data-original-title" => phone.name,
	"data-content" => "#{render :partial => "catalogues/phone_details", :locals => {:phone => phone}}") %>
	
	<div class="align-center">
		<abbr class="pull-left text-error catalogue-price"><%= t "price", :price => catalogue_item.actual_price %></abbr>
		<div class="pull-right catalogue-options">
			<%= link_to "", "#", 
				"class" => "prices-from-others show-on-hover icon-info-sign", 
				"data-toggle" =>"popover", 
				"data-original-title" => I18n.t("catalogues.prices_from_others"), 
				"data-content" => "#{render :partial => "prices_from_others", :locals => {:prices_from_others => catalogue_phone["prices_from_others"]}}" 
			%>
			<% if my_item %>
				<%= link_to "", edit_catalogue_path(:phone_name => catalogue_item.phone.name, :price => catalogue_item.actual_price), 
					:class => "change-price icon-edit", 
					:remote => true
				%>
				<%= link_to "", "#", 
					:class => "prices-history show-on-hover icon-calendar", 
					"data-toggle" => "popover", 
					"data-original-title" => I18n.t("catalogues.prices_history"), 
					"data-content" => "#{catalogue_item.prices_history.html_safe}" 
				%>
			<% end %>
		</div>
	</div>	
</div>
