<div class='modal hide fade save-catalogue-item'>
	<div class='modal-header'>
		<h3>Updating price for <%= params[:phone_name] %></h3>
	</div>
	<div class='modal-body'>
		<div class="span3">
			<!-- TODO: maybe do this with remote submit -->
			<%= form_tag url_for(:action => "update"), :class => "form-horizontal", :id => "saveCatalogueItem" do %>
			<div class="control-group">
				<%= text_field_tag "phone_name", params[:phone_name], :placeholder => "Type phone name ...", :class => "typeahead", :autocomplete => "off", :disabled => true %>
			</div>
			<div class="control-group">
				<%= hidden_field_tag "phone_id" %>
				<%= hidden_field_tag "phone_name", params[:phone_name] %>
			</div>
			<div class="control-group">
				<%= text_field_tag "price", params[:price], :placeholder => "Type price ...", :class => "number" %>
			</div>
			<div class="control-group">
				<%= submit_tag "Save", :class => "btn btn-primary" %>
				<%= button_tag "Cancel", :class => "btn", :type => "reset" %>
			</div>
			<% end %>
		</div>
		<div class="span3 phone-details">
		</div>
	</div>
	<div class="modal-footer">
	</div>
</div>
