<div class='modal hide fade save-catalogue-item'>
	<div class='modal-header'>
		<h3><%= I18n.t("catalogues.adding_phone") %></h3>
	</div>
	<div class='modal-body'>
		<div class="span3">
			<%= form_tag url_for(:action => "update"), :method =>:put, :remote => true, :class => "form-horizontal", :id => "saveCatalogueItem" do %>
			<div class="control-group">
				<%= text_field_tag "phone_name", "", :placeholder => I18n.t("catalogues.type_phone_name"), :class => "typeahead", :autocomplete => "off" %>
			</div>
			<div class="control-group">
				<%= hidden_field_tag "phone_id" %>
			</div>
			<div class="control-group">
				<%= text_field_tag "price", "", :placeholder => I18n.t("catalogues.type_phone_price"), :class => "number", :autocomplete => "off" %>
			</div>
			<div class="control-group">
				<%= submit_tag I18n.t("save"), :class => "btn btn-primary" %>
				<%= button_tag I18n.t("cancel"), :class => "btn", :id => "", :type => "reset", "data-dismiss" => "modal" %>
			</div>
			<% end %>
		</div>
		<div class="span3 phone-details">
		</div>
	</div>
	<div class="modal-footer">
	</div>
</div>
