<div class='modal hide fade remove-confirm'>
	<div class='modal-header'>Confirm action</div>
	<div class='modal-body'>
		<%= form_tag url_for(:action => "remove"), :remote => true do %>
			<p>Are you sure that you want to remove this phone from your catalogue?</p>
			<%= hidden_field_tag "phone_id", params[:phone_id] %>
			<%= hidden_field_tag "catalogue_id", params[:catalogue_id] %>
			<%= submit_tag "Yes", :class => "btn btn-danger" %>
			<%= button_tag "Cancel", :type => "reset", :class => "btn" %>
		<% end %>
	</div>
</div>