<div class="reviewer pull-left" id="review-<%= phone.id %>">
	<div class="like-container">
		<%= link_to raw("<i class='icon-thumbs-up'></i>"), "#", :class => "like-phone" %>
		<small><%= "(#{phone.like_count})" %></small>
	</div>
	
	<div class="unlike-container">
		<%= link_to raw("<i class='icon-thumbs-down'></i>"), "#", :class => "unlike-phone" %>
		<small><%= "(#{phone.unlike_count})" %></small>
	</div>
</div>