<!DOCTYPE html>
<html>
<head>
  <title>Mobis</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class_for_request %>">
<%= render "layouts/header" %>
<% flash.each do |key, message| %>
<%= content_tag(:div, :class => "alert alert-#{key.to_s}") do %>
<%= message %>
<% end %>
<% end %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-pills nav-stacked">
			<li><%= link_to("Add phone", new_admin_phones_path) %></li>
			<li><%= link_to("Phone attributes", admin_phones_attributes_path) %></li>
			<li><%= link_to("Import phones and images", admin_phones_import_phones_path) %></li>
			</ul>
		</div>
	
		<div class="span8">
			<%= yield %>
		</div>
	</div>
</div>

<%= render "layouts/footer" %>
</body>
</html>
