<!DOCTYPE html>
<html>
<head>
  <title>Mobis</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>
  <%= javascript_include_tag "http://localhost:4000/socket.io/socket.io.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<% flash.each do |key, message| %>
<%= content_tag(:div, :class => "alert alert-#{key.to_s}") do %>
<%= message %>
<% end %>
<% end %>
<div class="container">
	<div class="content">
		<%= yield %>
	</div>
</div>

<% if account_signed_in? %>
<div id="user"><%= current_account_json.to_json %></div>

<div class="chat" ng-app="Chat" ng-controller="ChatController" ng-init="index()">
	<div class="chat-content">
		
		<div class = "contacts">
				<div class="row-fluid title">Chat</div>
				<div class="row-fluid muted no-contacts" ng-show="showNoContacts()">No contacts online</div>
				<div class="row-fluid muted not-available" ng-hide="available">Chat not available</div>
		
				<div class="row-fluid contact" ng-repeat="(contact_id, contact) in contacts">
					<a href="#" ng-click="toggleConversation(contact.account_id)">
						<img ng-src="{{contact.image}}" />
						{{contact.name}}
					</a>
				</div>
		</div>

		<div class="conversations">
			<div class="conversation" ng-repeat="(contact_id, conversation) in conversations | orderBy:conversation.started" ng-show="conversation.show">
					<div class="row-fluid title">{{conversation.details.name}}</div>
					<div class="row-fluid message" ng-repeat="message in conversation.messages">
						<span class="muted sender">{{message.sender}} says</span><br/>
						<span class="text">{{message.content}}</span>
					</div>
					<input type="text" class="input-medium new-message" ng-model="conversation.new_message" placeholder="Type message and press enter" keydown-handler="sendMessage,{{contact_id}}" />
			</div>
		</div>
		
	</div>
</div>
<% else %>
<div id="user"></div>
<% end %>

<%= render "layouts/footer" %>
</body>
</html>
