<!DOCTYPE html>
<html>
<head>
  <title>Mobis</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>
  <%= javascript_include_tag "http://localhost:4000/socket.io/socket.io.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<% flash.each do |key, message| %>
<%= content_tag(:div, :class => "alert alert-#{key.to_s}") do %>
<%= message %>
<% end %>
<% end %>
<div class="container">
	<div class="content">
		<%= yield %>
	</div>
</div>

<div class="chat" ng-app="Chat" ng-controller="ChatController" ng-init="index(<%= {:user => current_account_json, :logged_out_user => current_account_json ? nil : logout_current_account}.to_json %>)">
	<div class="chat-content" ng-show="user_logged_in && show_chat">
		
		<div class = "chat-contacts">
			<div class="row-fluid title">
				Chat
				<a href="#" class="pull-right close chat-hide" ng-click="show_chat = false">&times;</a>
			</div>
			<div class="row-fluid muted no-chat-contacts" ng-show="showNoContacts()">No contacts online</div>
			<div class="row-fluid muted chat-not-available" ng-hide="available()">Chat not available</div>
	
			<div class="row-fluid chat-contact" ng-repeat="(contact_id, contact) in contacts">
				<a href="#" ng-click="toggleConversation(contact.account_id)">
					<img ng-src="{{contact.image}}" />
					{{contact.name}}
				</a>
			</div>
		</div>

		<div class="chat-conversations">
			<div class="chat-conversation" data-offline="{{conversation.offline}}" ng-repeat="(contact_id, conversation) in conversations | orderBy:conversation.started" ng-show="conversation.show">
				<div class="row-fluid title">
					{{conversation.details.name}}
					<span ng-show="conversation.offline"> (offline) </span>
					<a href="#" class="pull-right close icon-white chat-hide" ng-click="toggleConversation(contact_id)">&times;</a>
				</div>
				<div class="row-fluid message" ng-repeat="message in conversation.messages">
					<span class="muted sender">{{message.sender}} says</span><br/>
					<span class="text">{{message.content}}</span>
				</div>
				<input type="text" ng-disabled="conversation.offline" class="input-medium new-message" ng-model="conversation.new_message" placeholder="Type message and press enter" keydown-handler="sendMessage,{{contact_id}}" />
			</div>
		</div>
		
	</div>
	
	<a href="#" id="show_chat" ng-hide="show_chat" ng-click="show_chat = true">
		Show chat
	</a>
</div>

<%= render "layouts/footer" %>
</body>
</html>
