<!DOCTYPE html>
<html>
<head>
  <title>Mobis</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "home", :media => "all" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "javascripts/client.js" %>
  <%= javascript_include_tag "javascripts/flickrimg.jquery.js" %>
  <%= javascript_include_tag "javascripts/scripts.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<% flash.each do |key, message| %>
<%= content_tag(:div, :class => "alert alert-#{key.to_s}") do %>
<%= message %>
<% end %>
<% end %>
<div class="container">
	<div class="content">
		<%= yield %>
	</div>
</div>

<%= render "layouts/footer" %>
</body>
</html>
