<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Account info
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner account-info">
        <h3><%= @account_info[:name][:value] + " " + "contact info" %></h3>

		<table class="table table-hover">
			<tbody>
			<% @account_info.each do |attr, details| %>
				<% if  attr != :name && details[:display] %>
					<tr class="<%= details[:value].blank? ? "warning" : "success" %>">
					<td><%= details[:label] %></td>
			  		<td>
			  			<%= render :partial => "account_info_value", :locals => {:property => attr, :value => details[:value]} %>
			  		</td>
			  		<td>
			  			<%= details[:value].blank? ? link_to("Add", "#", :class => "text-success") : link_to("Update", "#", :class => "text-warning") %>
			  		</td>
			  		</tr>
			  	<% end %>
			<% end %>
			</tbody>
		</table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Change password
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        change password
      </div>
    </div>
  </div>
</div>
